<div class="container user-list">
  <div class="row">
    <div class="col mb-6">
      <%= link_to('Add new user', new_user_path, class: 'btn mb-3 btn-outline-primary') %>
    </div>
  </div>
  <% @users.each do |user| %>
    <div class="row">
      <div class="col">
        <h3 class="">
          <%= link_to user.full_name, edit_user_path(user) %>
        </h3>
      </div>
    </div>
  <% end %>
</div>
<br>

