<div class="alert alert-primary" role="alert" id="notice">
	<%= notice %>
</div>
<div class="checkin-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-3">Check in Now</h1>
      <p class="lead">We're glad you're here. Let's get to work.</p>
    </div>

<table class="table">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td class="check_in_user_list">
					<h3 class="display-4">
						<%= link_to user.full_name, user_user_action_steps_path(user) %>
					</h3>
				</td>
        <td>
          <%= link_to(edit_user_path(user)) do %>
            <i class="fa fa-7x fa-pencil"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Member', new_user_path %>
