// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td.check_in_user_list {
  font-family: 'Kanit', sans-serif;
  font-size: 3em;
  line-height: 1.5em;
}
